body {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

#logo{
    border-radius: 80%;
    float: left;
    width: 20px;
    height: 30px;
    margin-left: 20px;
}

.custom-navbar {
    background-color: #F3D7E6;
    color: #000000;
    height: 20%;
    width: 100%
}

#container {
    background-color: #f5e6ee;
    color: #000000;
    height: 100%;
    width: 100%;
}

.custom-carousel {
    max-width: 900px; 
    max-height: 700px; 
    margin: 0 auto; 
}